.pageHeader {
    text-align: center;
    padding: 20px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop{
    border: 1px dotted black;
    flex-basis: 33%;
}